<div {{action "previous"}} role="button" disabled={{_previousDisabled}} class="g-page left-arrow"></div>
<span class="vertical-center">{{start}} - {{end}} of {{total}}</span>
<div {{action "next"}} role="button" disabled={{_nextDisabled}} class="g-page right-arrow"></div>
