<label for={{id}} class="g-input-field-label">{{label}}</label>
{{#if lookups}}
  <PowerSelect @options={{this.lookupValues}}
    @selected={{this.selection}}
    @disabled={{this.disabled}}
    @placeholder={{this.placeholder}}
    @searchEnabled={{this.searchEnabled}}
    @searchField={{this.searchField}}
    @onChange={{this.onChange}} as |item|>
    {{#if optionLabelPath}}
      {{get item this.optionLabelPath}}
    {{else}}
      {{item}}
    {{/if}}
  </PowerSelect>
{{else}}
  <PowerSelect @options={{this.content}}
    @selected={{this.selection}}
    @disabled={{this.disabled}}
    @placeholder={{this.placeholder}}
    @searchEnabled={{this.searchEnabled}}
    @searchField={{this.searchField}}
    @onChange={{this.onChange}} as |item|>
    {{#if optionLabelPath}}
      {{get item this.optionLabelPath}}
    {{else}}
      {{item}}
    {{/if}}
  </PowerSelect>
{{/if}}
{{#if validation.message}}
  {{g-invalid text="!" tooltipContent=validation.message tooltipPlace="right"}}
{{else}}
  <div class="g-valid"></div>
{{/if}}
