{{#g-panel title="Grid"}}
  {{#g-panel-body}}

<p>MY GRID</p>
{{#my-grid content=model as |grid|}}
  {{#grid.td as |person|}}{{person.firstName}}{{/grid.td}}
  {{#grid.td as |person|}}{{person.lastName}}{{/grid.td}}
{{/my-grid}}


<p>Grid</p>
  {{#g-grid
     onDragAndDrop="doDnd"
     onDoubleClick="doDblClick"
     sortField=sortField
     sortDir=sortDir
     selection=selectedPeople
     content=model as |person|}}
    {{#g-grid-col dragHandle=true heading="&varr;" row=person}}
      ...
    {{/g-grid-col}}
    {{g-grid-col selector=true row=person}}
    {{#g-grid-col heading="First Name" row=person sortPath="firstName"}}
      {{person.firstName}}
    {{/g-grid-col}}
    {{#g-grid-col heading="Last Name" row=person sortPath="lastName"}}
      {{person.lastName}}
    {{/g-grid-col}}
    {{#g-grid-col heading="Birthday" row=person sortPath="bday"}}
      {{person.bday}}
    {{/g-grid-col}}
  {{/g-grid}}



    {{!-- {{#g-grid
       onDragAndDrop="doDnd"
       onDoubleClick="doDblClick"
       sortField=sortField
       sortDir=sortDir
       selection=selectedPeople
       content=model as |person|}}
      {{#g-grid-col dragHandle=true heading="&varr;" row=person}}
        ...
      {{/g-grid-col}}
      {{g-grid-col selector=true row=person}}
      {{#g-grid-col heading="First Name" row=person sortPath="firstName"}}
        {{person.firstName}}
      {{/g-grid-col}}
      {{#g-grid-col heading="Last Name" row=person sortPath="lastName"}}
        {{person.lastName}}
      {{/g-grid-col}}
      {{#g-grid-col heading="Birthday" row=person sortPath="bday"}}
        {{person.bday}}
      {{/g-grid-col}}
    {{/g-grid}} --}}

    {{!-- <br/>
    <strong>You Selected:</strong><br/>
    {{#each selectedPeople as |person|}}
      {{person.firstName}} {{person.lastName}} <br/>
    {{/each}}

    <hr/> --}}

    {{!-- {{#g-panel title="Example"}}
      {{#g-panel-body}}
        {{code-snippet name="grids.hbs"}}
      {{/g-panel-body}}
    {{/g-panel}} --}}

  {{/g-panel-body}}
  {{#g-toolbar}}
    {{g-paginator offset=0 limit=25 total=4}}
  {{/g-toolbar}}
{{/g-panel}}
